@import "compass";
@import "_reset";
@import "_fonts";
@import "_icons";
@import "_base";

/* BASIC STYLES
-------------------------------------------------------------- */
*{
  @include box-sizing('border-box');

  img{
    max-width: 100%;
    height: auto;
  }
}

body{
  font: 16px/1.5 $font_main;
  background-color: $page_bg;  
  color: $color_main;
}

a{
  @include transition;
  color: $color_accent;
  text-decoration: none;
  
  &:hover{
    color: $color_main;
  }
}


ul,
ul.menu,
ul.menu li{
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

li a.active,
li.opened span.nolink{color: $color_main;}

h1, h2, h3{
  font-family: $font_header;
}


/* Layout
-------------------------------------------------------------- */
#header-main{
  @include transition;
  background-color: lighten($color_main_lt, 3%);
  position: fixed;
  top: -200px;
  left: 0;
  z-index: 900;
  width: 100%;
  height: $header_height;
  line-height: $header_height;

  .inner{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  

  @include bp(s){
    padding: 20px 0;
    top: -400px;
    text-align: center;
  }

}

body.nav-open{
  #header-main{
    top: 0;
  }
}


#logo{
  position: absolute;
  width: 100px;
  left: 0;
  bottom: -100px;
  
  a{
    display: block;
  }

  @include bp(s){
   position: relative;
   bottom: auto;
   width: 50px;
   margin: auto;
   height: 60px;
  }
}


#nav-main{
  @include pie-clearfix;
  text-transform: uppercase;

  ul{
    text-align: center;

    li{
      display: inline-block;
    }

    a{
      display: block;
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
      //font-family: $font_header;
      position: relative;
      font-size: 12px;
      font-weight: bold;
      line-height: normal;
      color: $color_main;



      span.num{
        font-family: $font_fancy;
        position: relative;
        font-size: 24px;
        margin-right: 5px;
        top: 3px;
      }

      &:hover{
        span.item{
          border-bottom: 2px solid $color_accent;
        }

      }

      &.active{}
    }

    @include bp(s){
      padding: 20px;
      text-align: center !important;
      float: none;

      li{
        display: block;

        a{
          padding: 10px 0;
        }
      }
    }
  }

  .social-icons{
    float: right;

    a{
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
    }

    @include bp(m){
      float: none;
    }
  }
}


.menu-toggle{
  @include transition;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  color: $color_main;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;

  &:hover{
    color: $color_accent;
  }

  @include bp(m){
    display: block;
  }
}

#content-main{
  margin-top: $header_height;
  //width: 100vw;
  //overflow: hidden;
  padding: 0;
  margin: 0;

  @include bp(m){
    margin-top: 0;
  }
}

.fancy{
  font-family: $font_fancy;
  font-size: 36px;
  max-width: 700px;
  text-align: center;
  margin: 20px auto 40px;
  line-height: normal;

  .med{
    font-size: 40px;
  }
}




/* -----------------------------------------------------------
    SECTIONS
-------------------------------------------------------------- */
section{
  margin-bottom: 80px;
  position: relative;
  
  .header{
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    .logo{
      width: 50px;
      margin: auto;
      margin-bottom: 20px;
    }

    h1{
      @include inline-block;
      font-size: 64px;
      position: relative;
      line-height: normal;

      &:after, &:before{
        width: 40px;
        position: absolute;
        top: 32px;
        height: 7px;
        content: " ";
      }

      &:before{
        left: -60px;
        background: url(../images/The-Refinery-tri-left.svg);
      }

      &:after{
        right: -60px;
        background: url(../images/The-Refinery-tri-right.svg);
      }
    }

  }

  .header + .fancy{
    margin-top: 0;
  }

  .body{
    text-align: justify;
    max-width: 400px;
    margin: auto;
  }

  p{
    margin-bottom: 20px;
  }
}

.divider{
  max-width: 300px;
  height: 2px;
  background-color: $color_main;
  margin: 40px auto;
  position: relative;

  span{
    @include border-radius(2px);
    width: 4px;
    height: 4px;
    background-color: $color_main;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
  }
}

.divider.up{
  span{
    top: -2px;
  }
}

.sign{
  @include inline-block;
  text-align: center;
  border: $color_main 2px solid;
  padding: 5px;

  .inner{
    border: $color_main 1px solid;
    padding: 10px 20px;
  }
}



/* INTRO
-------------------------------------------------------------- */
#intro{
  height: 80vh;
  text-align: center;
 


  .inner{
    height: 100%;
    position: relative;
  }

  .logo{
    width: 600px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
  }

  h2{
    font-family: $font_fancy;
    font-size: 36px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: 80px;
    
  }

  .arrow{
    width: 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: 180px;
    opacity: 0;
  }
}




/* QUOTE 1
-------------------------------------------------------------- */
#quote-1{
  text-align: center;
  padding: 200px 0;


  .inner{
    position: relative;
    z-index: 100;
    max-width: 500px;
    margin: 0 auto;
  }

  .quote{
    @extend .fancy;
    font-size: 40px;
  }

  .author{
    font-family: $font_header;
    font-size: 20px;
    text-align: left;
    text-align: center;
  }

  .bg{
    transform: rotate(-10deg) skew(-10deg);
    transform-origin: center;
    //transform: skew(-10deg);
    background-color: $color_main_lt;
    background: url(../images/pattern-1.jpg) repeat fixed;
    width: 101.6%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 1;
  }
}


/* WISDOM STYLE
-------------------------------------------------------------- */
#wisdom-style{
  position: relative;

  .inner{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 1200px;
  }
  
  .style{
    position: absolute;
  }
  
  .style-1{
    width: 60%;
    top: 50%;
    margin-top: -42%;
    left: 0;
    opacity: .9;
  }

  .style-2{
    width: 35%;
    top: 50%;
    margin-top: -32%;
    right: 0;
    opacity: .7;
  }

  .style-3{
    width: 40%;
    top: 50%;
    margin-top: 6%;
    left: 40px;
    opacity: .7;
  }

  .quote{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -10%;
  }
}

/* IT IS NOT
-------------------------------------------------------------- */
#it-is-not{
  background-color: $color_main_lt;
  min-height: 800px;
  overflow: hidden;
  position: relative;
  background: $color_main_lt url(../images/pattern-1.jpg) repeat fixed;

  .holder{
    display: table;
    width: 100%;
    height: 800px;
  }

  .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
  }

  .logo-left,
  .logo-right{
    position: absolute;
    width: 300px;
    top: 50%;
    margin-top: -320px;
  }

  .logo-left{
    left: -150px;
  }

  .logo-right{
    right: -150px;
  }

  .bar{
    position: absolute;
    background-color: $color_main;
    opacity: 1;
    width: 10px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -5px;
    transform: rotate(45deg);
    transform-origin: center;
  }

  .bar.right{
    transform: rotate(-45deg);
  }
}


/* EXPRESSION
-------------------------------------------------------------- */
#about-expression{

  .body{
    max-width: 400px;
  }
}



/* BEAR
-------------------------------------------------------------- */
#bear{
  height: 80vh;
  margin-bottom: 150px;
  @include bg_cover("../images/The-Refinery-bear.jpg");

  .bg{
    position: absolute;
    top: -20vh;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    z-index: -1;

    .inner{
      @include border-radius(60vh);
      background-color: $color_main_lt;
      background: url(../images/pattern-1.jpg) repeat fixed;
      width: 120vh;
      height: 120vh;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -60vh;
      
      text-transform: uppercase;
    }

  }
}


/* SEXY-STUFF
-------------------------------------------------------------- */
#sexy-stuff{
  height: 100vh;
  width: 100%;
  display: table;

  .inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  img{
    width: 800px;
    height: auto;
    margin: 0 auto;
  }
}

/* SERVICES
-------------------------------------------------------------- */
#services{
  padding: 80px 0;
  background: $color_main_lt url(../images/pattern-1.jpg) repeat fixed;
  text-align: center;
}

.list-box{
  text-align: center;

  .item{
    
  }
  
  h2{
    @include inline-block;
    font-family: $font_fancy;
    font-size: 90px;
    text-align: center;
    cursor: pointer;
    border-bottom: transparent solid 2px;
    line-height: 80px;
    margin-bottom: 20px;

    &:hover{
      border-bottom: $color_accent solid 2px;
    }
  }

  .body{
    display: none;
  }
}


/* CTA 1
-------------------------------------------------------------- */
#cta-1{
  position: relative;
  padding: 100px 0;
  height: 1200px;

  .quote{
    position: absolute;
    width: 80%;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -140px;
  }
}

.cycle-gallery{
  position: absolute;
  max-width: 900px;
  margin-left: -450px;
  margin-top: -300px;
  top: 50%;
  left: 50%;
  z-index: 1;

  li{
    position: absolute;
    top: 0;
    left: 0;
  }

  img{
    opacity: .7;
  }

}




/* EXTRAS
-------------------------------------------------------------- */
.text-center{
  text-align: center !important;
}
.krumo-root{
  z-index: 1000;
}

.service-links{

  li{
    @include inline-block;
  }
}



