@import "compass";
@import "_reset";
@import "_fonts";
@import "_icons";
@import "_base";

/* BASIC STYLES
-------------------------------------------------------------- */
*{
  @include box-sizing('border-box');

  img{
    max-width: 100%;
    height: auto;
  }
}

body{
  font: 16px/1.5 $font_main;
  background-color: $page_bg;  
  color: $color_main;
}

a{
  //@include transition;
  color: $color_main;
  text-decoration: none;
  
  &:hover{
   // border-bottom: $color_accent solid 2px;
  }
}


ul,
ul.menu,
ul.menu li{
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

li a.active,
li.opened span.nolink{color: $color_main;}

h1, h2, h3{
  font-family: $font_header;
}


/* Layout
-------------------------------------------------------------- */
#header-main{
  @include transition;
  background-color: lighten($color_main_lt, 3%);
  position: fixed;
  top: -200px;
  left: 0;
  z-index: 900;
  width: 100%;
  height: $header_height;
  line-height: $header_height;

  .inner{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  

  @include bp(s){
    padding: 20px 0;
    top: -400px;
    text-align: center;
  }

}

body.nav-open{
  #header-main{
    top: 0;
  }
}


#logo{
  position: absolute;
  width: 100px;
  left: 0;
  bottom: -100px;
  
  a{
    display: block;
  }

  @include bp(s){
   position: relative;
   bottom: auto;
   width: 50px;
   margin: auto;
   height: 60px;
  }
}


#nav-main{
  @include pie-clearfix;
  text-transform: uppercase;

  ul{
    text-align: center;

    li{
      display: inline-block;
    }

    a{
      display: block;
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
      //font-family: $font_header;
      position: relative;
      font-size: 12px;
      font-weight: bold;
      line-height: normal;
      color: $color_main;



      span.num{
        font-family: $font_fancy;
        position: relative;
        font-size: 24px;
        margin-right: 5px;
        top: 3px;
      }

      &:hover{
        span.item{
          border-bottom: 2px solid $color_accent;
        }

      }

      &.active{}
    }

    @include bp(s){
      padding: 20px;
      text-align: center !important;
      float: none;

      li{
        display: block;

        a{
          padding: 10px 0;
        }
      }
    }
  }

  .social-icons{
    float: right;

    a{
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
    }

    @include bp(m){
      float: none;
    }
  }
}


.menu-toggle{
  @include transition;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  color: $color_main;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;

  &:hover{
    color: $color_accent;
  }

  @include bp(m){
    display: block;
  }
}

#content-main{
  margin-top: $header_height;
  //width: 100vw;
  //overflow: hidden;
  padding: 0;
  margin: 0;

  @include bp(m){
    margin-top: 0;
  }
}

.fancy{
  font-family: $font_fancy;
  font-size: 36px;
  max-width: 700px;
  text-align: center;
  margin: 20px auto 40px;
  line-height: normal;

  .med{
    font-size: 30px;
  }

  @include bp(s){
    font-size: 24px;

    .med{
      font-size: 20px;
    }
  }
}




/* -----------------------------------------------------------
    SECTIONS
-------------------------------------------------------------- */
section{
  margin-bottom: 80px;
  position: relative;
  
  .header{
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    .logo{
      width: 50px;
      margin: auto;
      margin-bottom: 20px;
    }

    h1{
      @include inline-block;
      font-size: 64px;
      position: relative;
      line-height: normal;

      &:after, &:before{
        width: 40px;
        position: absolute;
        top: 32px;
        height: 7px;
        content: " ";
      }

      &:before{
        left: -60px;
        background: url(../images/The-Refinery-tri-left.svg);
      }

      &:after{
        right: -60px;
        background: url(../images/The-Refinery-tri-right.svg);
      }

      @include bp(s){
        font-size: 30px;

        &:after, &:before{
          display: none;
        }

      }
    }



  }

  .header + .fancy{
    margin-top: 0;
  }

  .body{
    text-align: justify;
    max-width: 400px;
    margin: auto;
  }

  p{
    margin-bottom: 20px;
  }

  @include bp(s){
    padding: 0 20px;

    p{
      text-align: left;
    }
  }
}

.divider{
  max-width: 300px;
  height: 2px;
  background-color: $color_main;
  margin: 40px auto;
  position: relative;

  span{
    @include border-radius(2px);
    width: 4px;
    height: 4px;
    background-color: $color_main;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
  }
}

.divider.up{
  span{
    top: -2px;
  }
}

.sign{
  @include inline-block;
  text-align: center;
  border: $color_main 2px solid;
  padding: 5px;

  .inner{
    border: $color_main 1px solid;
    padding: 10px 20px;
    background-color: rgba($page_bg, 0.8);
  }

  h2{
    font-size: 22px;
  }
}



/* INTRO
-------------------------------------------------------------- */
#intro{
  height: 80vh;
  text-align: center;
  position: relative;
  z-index: 100;

  @include bp(s){
    height: auto;
  }


  .inner{
    height: 100%;
    position: relative;
  }

  .logo{
    width: 600px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;

    @include bp(s){
      width: 100%;
      padding: 0 10px;
      position: relative;
      top: auto;
      left: 0;
      margin-left: 0;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }

  h2{
    font-family: $font_fancy;
    font-size: 36px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: 80px;

    @include bp(s){
      position: relative;
      top: auto;
      margin-top: 0;
      font-size: 24px;
    }
    
  }

  .arrow{
    width: 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: 180px;
    opacity: 0;

    @include bp(s){
      position: relative;
      top: auto;
      margin-top: 40px !important;
    }
  }
}




/* QUOTE 1
-------------------------------------------------------------- */
#quote-1{
  @extend %bg_pattern;
  text-align: center;
  padding: 600px 0;
  margin-bottom: 0;
  overflow: hidden;
  margin-top: -200px;
  position: relative;
  z-index: 1;


  @include bp(s){
    padding: 300px 20px;
  }

  .inner{
    position: relative;
    z-index: 100;
    max-width: 500px;
    margin: 0 auto;
  }

  .quote{
    @extend .fancy;
    font-size: 40px;

    @include bp(s){
      font-size: 24px;
    }
  }

  .author{
    font-family: $font_header;
    font-size: 20px;
    text-align: left;
    text-align: center;
  }

  .bg-top,
  .bg-bottom{
    
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
    transform-origin: center;
    background-color: $page_bg;
    
    width: 120%;
    height: 400px;
    position: absolute;
    
    left: 50%;
    margin-left: -60%;
    z-index: 1;
  }

  .bg-top{
    top: -200px;
  }

  .bg-bottom{
    bottom: -200px;
  }
}


/* WISDOM STYLE
-------------------------------------------------------------- */
#wisdom-style{
  position: relative;

  .inner{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 1200px;
  }
  
  .style{
    position: absolute;
    z-index: 1;
  }
  
  .style-1{
    width: 60%;
    top: 50%;
    margin-top: -38%;
    left: 0;
    opacity: .9;
  }

  .style-2{
    width: 35%;
    top: 50%;
    margin-top: -22%;
    right: 0;
    opacity: .7;
  }

  .style-3{
    width: 40%;
    top: 50%;
    margin-top: 26%;
    left: 40px;
    opacity: .7;
  }

  .quote{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -10%;
    z-index: 100;
  }

  @include bp(s){
    padding: 0 10px;
    height: auto;

    .inner{
      height: auto;
    }

    .style-1, .style-2, .style-3, .quote{
      position: relative;
      width: 100%;
      left: 0;
      right: auto;
      margin: 0 !important;
    }
  }
}

/* IT IS NOT
-------------------------------------------------------------- */
#it-is-not{
  background-color: $color_main_lt;
  min-height: 800px;
  overflow: hidden;
  position: relative;
  background: $color_main_lt url(../images/pattern-1.jpg) repeat fixed;

  .holder{
    display: table;
    width: 100%;
    height: 800px;
  }

  .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
  }

  .logo-left,
  .logo-right{
    position: absolute;
    width: 300px;
    top: 50%;
    margin-top: -320px;
    
    @include bp(s){
      display: none;
    }

  }

  .logo-left{
    left: -150px;
  }

  .logo-right{
    right: -150px;
  }

  .bar{
    position: absolute;
    background-color: $color_main;
    opacity: 1;
    width: 10px;
    height: 100%;
    top: 400px;
    left: 50%;
    margin-left: -5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform-origin: center;

    @include bp(s){
      display: none;
    }
  }

  .bar.right{
    top: 200px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }
}


/* EXPRESSION
-------------------------------------------------------------- */
#about-expression{

  .body{
    max-width: 400px;
  }
}



/* BEAR
-------------------------------------------------------------- */
#bear{
  @include bg_cover("../images/The-Refinery-bear.jpg");
  height: 80vh;
  margin-bottom: 150px;
  padding: 0;
 

  .bg{
    position: absolute;
    top: -20vh;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    z-index: -1;

    .inner{
      @include border-radius(60vh);
      background-color: $color_main_lt;
      background: url(../images/pattern-1.jpg) repeat fixed;
      width: 120vh;
      height: 120vh;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -60vh;
      
      text-transform: uppercase;
    }
  }

  @include bp(s){
    height: 50vh;
    background-position: center right;

    .bg{
     
      height: 80vh;
      width: 100%;
      top: -15vh;

      .inner{
        width: 80vh;
        height: 80vh;
        top: 0;
        margin-left: -40vh;
      }
    }
  }
}


/* SEXY-STUFF
-------------------------------------------------------------- */
#sexy-stuff{
  max-width: 100%;
  padding: 100px 10px;

  .inner{
    text-align: center;
    width: 100%;
  }

  img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/* SERVICES
-------------------------------------------------------------- */
#services{
  padding: 80px 0;
  background: $color_main_lt url(../images/pattern-1.jpg) repeat fixed;
  text-align: center;
}

.list-box{
  text-align: center;

  .item{
    
  }
  
  h2{
    @include inline-block;
    font-family: $font_fancy;
    font-size: 90px;
    text-align: center;
    cursor: pointer;
    border-bottom: transparent solid 2px;
    line-height: 80px;
    margin-bottom: 20px;

    &:hover{
      border-bottom: $color_accent solid 2px;
    }
  
    @include bp(s){
      font-size: 50px;
      line-height: 40px;
    }

  }

  .body{
    display: none;

    @include bp(s){
      padding: 20px;
    }
  }
}


/* CTA 1
-------------------------------------------------------------- */
#cta-1{
  position: relative;
  padding: 100px 0;
  height: 1200px;
  margin-bottom: 100px;

  @include bp(s){
    height: auto;
    //padding: 0;
  }

  .quote{
    position: absolute;
    width: 80%;
    z-index: 100;
    top: 60%;
    left: 50%;
    margin-left: -40%;
    margin-top: -140px;

    @include bp(s){
      width: 100%;
      padding: 10px;
      position: relative;
      top: auto !important;
      left: 0;
      margin: 0 !important;
    }
  }

  .arrow{
    width: 30px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: 320px;
    //opacity: 0;
    //
    @include bp(s){
      width: 20px;
      position: relative;
      left: auto;
      top: auto !important;
      margin-top: 0 !important;
      margin: 40px auto !important;
    }
  }
}

.cycle-gallery{
  //position: absolute;
  max-width: 900px;
  margin: 0 auto;
  z-index: 1;
  position: relative;

  @include bp(s){
    height: 66vw;
    padding: 0;
  }

  li{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }

  img{
    opacity: .7;
  }

}


/* CONTACT
-------------------------------------------------------------- */
#contact{
  @extend %bg_pattern;
  padding-top: 80px;
  padding-bottom: 80px;

  .header{
    .logo{
      width: 200px;
    }
  }

  .phone{
    margin: 20px 0;
  }

  .social-icons{
    a{
      margin: 0 10px;

      &:hover{
        border-bottom: none;
        color: $color_accent;
      }
    }
  }
}


/* INSTAGRAM
-------------------------------------------------------------- */
.insta-feed{
  @include pie-clearfix;
  max-width: 1200px;
  margin: auto;

  a{
    margin: 0 !important;
    width: 20%;
    height: 20%;
    float: left;
    padding: 5px;

    img{
      width: 100% !important;
      height: auto !important;
      margin: 0 !important;
      float: none;
    }
  }

  @include bp(s){
    a{
      width: 50%;
      padding: 2px;
    }
  }
}


/* FOOTER
-------------------------------------------------------------- */
#footer-main{
  @extend %bg_pattern;
  padding: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}



/* BLOG
-------------------------------------------------------------- */
.logo-blog{
  max-width: 400px;
  margin: 40px auto;
}

.page-blog{
  .logo-blog{
    max-width: 700px;
    margin: 80px auto;
  }
}

.node-type-article{
  #page-title{
    display: none;
  }
}

.article{
  max-width: 1200px;
  padding-bottom: 20px;
  margin: 0 auto 80px;
  border-bottom: $color_main_lt solid 4px;

  .meta{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .section,
  .bull,
  .created{
    @include inline-block;
  }
}

.article.full{
  padding: 10px;
  padding-bottom: 40px;

  .cover{
    margin-bottom: 20px;
  }

  h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  h2{
    max-width: 600px;
    margin: 0 auto;
    font-size: 30px;
  }

  .meta{
    margin-bottom: 15px;
    text-align: center;
  }

  p{
    max-width: 600px;
    margin: 0 auto 40px;
  }

  p.image-holder{
    max-width: 900px;
    line-height: 0;
  }

  .share-post{
    text-align: center;
  }

  .service-links{

    a{
      font-size: 30px;
      margin: 10px;
    }
  }

}

.article.teaser{
   max-width: 900px;

  .cover{
    line-height: 0;
    margin-bottom: 15px;
    a{
      display: block;
    }
  }

  h2{
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: .5px;
  }

  

  .bull{
    margin: 0 10px;
  }

  .full{
    @include transition;
    margin-right: 20px;
    @include inline-block;

    a{
      display: block;
      padding: 10px 20px;
      text-transform: uppercase;
      background-color: $color_main;
      color: $page_bg;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 2px;

      &:hover{
        background-color: $color_accent;
      }
    }
  }

  .service-links{
    @include inline-block;

    a{
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

.teaser-small{
  @include pie-clearfix;
  max-width: 1200px;
  margin: 0 auto 80px;

  .views-row{
    max-width: 33%;
    float: left;
    padding: 20px;

    h2{
      font-size: 20px;
      line-height: normal;
    }
  }
}

h2.pane-title{
  font-size: 40px;
  text-align: center;
}



/* EXTRAS
-------------------------------------------------------------- */
.text-center{
  text-align: center !important;
}
.krumo-root{
  z-index: 1000;
}

.service-links{

  li{
    @include inline-block;
  }
}



